@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background-light: oklch(92.9% 0.013 255.508);
  --color-background-dark: oklch(20.8% 0.042 265.755);

  --color-foreground-light: oklch(27.9% 0.041 260.031);
  --color-foreground-dark: oklch(92.9% 0.013 255.508);

  --transition-duration: 100ms;
}

@layer base {
  :root {
    --background: var(--color-background-light);
    --foreground: var(--color-foreground-light);
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply min-h-screen;
    background-color: var(--background);
    color: var(--foreground);
    transition: background-color var(--transition-duration), color var(--transition-duration);
  }

  .dark {
    --background: var(--color-background-dark);
    --foreground: var(--color-foreground-dark);
  }

  button {
    cursor: pointer;
  }
}
